.navbar{
    width: 100%;
    padding: 20px 6%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    position: fixed;
    color: #e5e5e5;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.7) 10%, transparent);
    z-index: 1;
}

.navbar-left{
    display: flex;
    align-items: center;
    gap: 50px;
}

.navbar-left img{
    width: 90px;
    /* cursor: pointer; */
}

.navbar-left ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar-left ul li{
    cursor: pointer;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-right .icons{
    width: 20px;
    cursor: pointer;
}

.navbar-right .profile{
    width: 35px;
    border-radius: 4px;
}

.navbar-profile{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.navbar .dropdown{
    position: absolute;
    top: 100%;
    right: 0;
    width: max-content;
    background: #191919;
    padding: 18px 22px;
    border-radius: 5px;
    text-decoration: underline;
    z-index: 1;
    display: none;
}

.navbar .dropdown p{
    font-size: 13px;
    cursor: pointer;
}

.navbar-profile:hover .dropdown{
    display: block;
}

.nav-dark{
    background: #141414;
} 

.search-results {
  position: absolute;
  top: 60px;
  right: 20px;
  background: #141414;
  border-radius: 6px;
  padding: 10px;
  max-height: 400px;
  overflow-y: auto;
  width: 300px;
  z-index: 5;
}

.search-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
  cursor: pointer;
}

.search-item img {
  width: 40px;
  border-radius: 4px;
}

.search-item p {
  font-size: 14px;
  color: white;
}
.search-item:last-child {
  margin-bottom: 0;
}

@media (max-width: 800px) {
    .navbar{
        padding: 20px 4%;
        font-size: 12px;
    }

    .navbar-left{
        gap: 20px;
    }

    .navbar-left img{
        width: 80px;
    }

    .navbar-left ul{
        display: none;
    }

    .navbar img{
        height: 25px;
    }

    .navbar-right .icons{
        width: 18px;
    }

    .navbar-right .profile{
        width: 30px;
    }

    .search-results {
        width: 90vw;
        right: 5vw;
    }
}

@media (max-width: 500px) {
    .navbar-left img{
        height: 20px;
    }

    .navbar-right{
        gap: 10px;
    }
}